* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* MENU */
.container {
  display: flex;
  justify-content: center !important;
  align-items: center;
  padding-left: 5vw !important;
  width: 100% !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

nav {
  display: flex;
  z-index: 300 !important;
}

.menu-desktop {
  --animate-duration: 8s;
  height: 100px;
}

.logo-nav {
  width: 6vw;
  margin-left: 3vw;
  visibility: hidden;
  position: absolute;
}

.contactanos-item {
  color: #c0c0c0 !important;
  font-size: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  font-weight: 300;
}

.contactanos-item:hover {
  background-color: transparent;
  color: #580909 !important;
  border: 1px solid #580909;
}

.nav-link {
  margin: auto 2.3rem;
  font-size: 1.2rem !important;
}

.texto-menu {
  color: #c0c0c0 !important;
  font-size: 1.5rem;
  font-weight: 300;
}

.logo-navbar {
  width: 166px;
  height: 73px;
}

#nav {
  background-color: transparent;
}

#display {
  display: none;
}

@media (min-width: 320px) and (max-width: 991px) {
  #nav {
    display: none;
  }
  #display {
    display: none;
  }
  .menu-mobile {
    background-color: #59188c;
  }
}

/* FIN MENU */
@media (min-width: 320px) and (max-width: 992px) {
  /* INICIO NAVBAR */
  .bg-menu {
    background-color: #4a148c !important;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
  .botonmenu {
    color: white !important;
    border-radius: 4px;
    height: 39px;
    font-size: 18px;
    /* padding: 10px; */
    border-color: #4a148c !important;
  }
  .botonmenu:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .lineasboton {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  .nav-link-bg-color {
    background-color: #e62b75;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .nav-link-color-letra {
    color: white !important;
    font-size: 16px;
    width: 115px;
    text-align: center;
    margin: 0px;
  }
  .nav-link-color-letra-contacto {
    color: white !important;
    font-size: 16px;
    width: 120px;
    text-align: center;
    border: 1px solid #e62b75 !important;
  }
  .nav-link-color-letra-contacto:hover {
    background-color: white;
    color: #e62b75 !important;
  }
  /*  FIN NAVBAR */
}

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header .imagen-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100% !important;
  filter: brightness(0);
  filter: opacity(0.5);
  animation-name: header;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-delay: 0s;
}

@keyframes header {
  0% {
    filter: brightness(0);
  }
  25% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(0.8);
  }
}

header .imagen-logo {
  position: absolute;
  z-index: 100 !important;
  width: 25vw;
  filter: brightness(8);
  animation-name: logo;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-delay: 0s;
  z-index: 3;
}

@keyframes logo {
  0% {
    filter: brightness(0);
  }
  30% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1);
  }
}

header .header_caja-contacto {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 5vw;
  border-radius: 2px;
  --animate-duration: 8s;
  padding: 4vw 0%;
}

header .header_caja-contacto .contacto {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

header .header_caja-contacto .contacto p {
  margin: 0px !important;
  color: #c0c0c0;
}

header .header_caja-contacto .bi {
  color: #c0c0c0;
  font-size: 2rem !important;
  margin-right: 0.7rem;
}

.seccion-presentacion {
  padding: 10vw 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../images/imagenes/background-dos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.seccion-presentacion .texto-presentacion {
  width: 35vw;
  text-align: justify;
  text-transform: capitalize;
  line-height: 30px;
}

.seccion-presentacion .texto-presentacion::first-letter {
  font-size: 1.3rem;
  color: #c0392b;
}

.seccion-presentacion .foto-presentacion {
  width: 40vw;
}

.especialidades {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3vw;
  /* SECCION AMENITIES */
}

.especialidades .titulo-principal-especialidades {
  color: #706d6dec;
  margin: 5vw 0%;
  font-size: 3rem;
  border-bottom: 1px solid #706d6dec;
  padding-bottom: 1vw;
}

.especialidades .seccion-amenities {
  display: flex;
  width: 100%;
  height: 27vw !important;
  /* padding: 4% 2%; */
}

.especialidades .seccion-amenities-titulo {
  text-align: center;
  font-size: 48px;
  color: #a1a53e;
  line-height: 58.51px;
  margin-bottom: 70px;
  margin-top: 70px;
  font-weight: bold;
}

.especialidades .card-amen {
  position: relative;
  flex: 1;
  overflow: hidden;
  line-height: 0;
  transition: all 600ms;
}

.especialidades .card-amen-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: opacity(1);
  filter: brightness(70%);
}

.especialidades .card-amen-texto {
  position: absolute;
  bottom: 40%;
  color: white;
  font-size: 26px;
  overflow: hidden;
  margin-left: 2vw;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.404);
  /* margin-bottom: 5%; */
}

.especialidades .card-amen-descripcion {
  position: absolute;
  top: 40%;
  right: 2%;
  width: 30vw;
  height: 10vw;
  color: white;
  font-size: 1rem;
  overflow: hidden;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.404);
  background-color: 0.5px 0.5px rgba(0, 0, 0, 0.404) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.especialidades .amen-p {
  line-height: 1em;
  margin: 0% 2%;
}

.especialidades .card-amen:hover .card-amen-descripcion {
  visibility: visible;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}

.especialidades .card-amen:hover .card-amen-texto {
  border-bottom: 2px solid white;
}

.especialidades .card-amen:hover .card-amen-imagen {
  filter: brightness(60%) blur(2px);
}

.especialidades .card-amen:hover {
  flex: 30%;
}

.especialidades .card-amen-texto:hover {
  flex: 0%;
  overflow: hidden;
}

.especialidades .contenedor-amenities-celular {
  display: none;
}

.imagen-header {
  width: 100%;
  height: auto;
}
