* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* MENU */
.container {
  display: flex;
  align-items: center;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

nav {
  display: flex;
  z-index: 300 !important;
}

.menu-desktop {
  --animate-duration: 8s;
}

.logo-nav {
  width: 8vw;
  margin-left: 3vw;
  visibility: hidden;
}

.contactanos-item {
  color: #c0c0c0 !important;
  font-size: 20px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  font-weight: 300;
}

.contactanos-item:hover {
  background-color: transparent;
  color: #580909 !important;
  border: 1px solid #580909;
}

.nav-link {
  margin: auto 2.3rem;
  font-size: 1.2rem !important;
}

.texto-menu {
  color: #c0c0c0 !important;
  font-size: 20px;
  font-weight: 300;
}

.logo-navbar {
  width: 166px;
  height: 73px;
}

#nav {
  background-color: transparent;
}

#display {
  display: none;
}

@media (min-width: 320px) and (max-width: 991px) {
  #nav {
    display: none;
  }
  #display {
    display: none;
  }
  .menu-mobile {
    background-color: #59188c;
  }
}

/* FIN MENU */
@media (min-width: 320px) and (max-width: 992px) {
  /* INICIO NAVBAR */
  .bg-menu {
    background-color: #4a148c !important;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
  .botonmenu {
    color: white !important;
    border-radius: 4px;
    height: 39px;
    font-size: 18px;
    /* padding: 10px; */
    border-color: #4a148c !important;
  }
  .botonmenu:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .lineasboton {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  .nav-link-bg-color {
    background-color: #e62b75;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .nav-link-color-letra {
    color: white !important;
    font-size: 16px;
    width: 115px;
    text-align: center;
    margin: 0px;
  }
  .nav-link-color-letra-contacto {
    color: white !important;
    font-size: 16px;
    width: 120px;
    text-align: center;
    border: 1px solid #e62b75 !important;
  }
  .nav-link-color-letra-contacto:hover {
    background-color: white;
    color: #e62b75 !important;
  }
  /*  FIN NAVBAR */
}

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header .imagen-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100% !important;
  filter: brightness(0);
  filter: opacity(0.5);
  animation-name: header;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-delay: 0s;
}

@keyframes header {
  0% {
    filter: brightness(0);
  }
  25% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(0.8);
  }
}

header .imagen-logo {
  position: absolute;
  z-index: 100 !important;
  width: 25vw;
  filter: brightness(8);
  animation-name: logo;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  animation-delay: 0s;
  z-index: 3;
}

@keyframes logo {
  0% {
    filter: brightness(0);
  }
  30% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1);
  }
}

header .header_caja-contacto {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 5vw;
  border-radius: 2px;
  --animate-duration: 8s;
  padding: 4vw 0%;
}

header .header_caja-contacto .contacto {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

header .header_caja-contacto .contacto p {
  margin: 0px !important;
  color: #c0c0c0;
}

header .header_caja-contacto .bi {
  color: #c0c0c0;
  font-size: 2rem !important;
  margin-right: 0.7rem;
}

.seccion-presentacion {
  padding: 10vw 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../images/imagenes/background-dos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.seccion-presentacion .texto-presentacion {
  width: 35vw;
  text-align: justify;
  text-transform: capitalize;
  line-height: 30px;
}

.seccion-presentacion .texto-presentacion::first-letter {
  font-size: 3rem;
  color: #c0392b;
}

.seccion-presentacion .foto-presentacion {
  width: 40vw;
}

.especialidades {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.especialidades .titulo-principal-especialidades {
  color: silver;
  margin-top: 5vw;
  font-size: 3rem;
  border-bottom: 1px solid #580909;
  padding-bottom: 1vw;
}

.especialidades .seccion-especialidades {
  width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2.5vw 0%;
}

.especialidades .card-especialidades {
  width: 17vw;
  border: 1px solid silver;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 3px;
}

.especialidades .card-especialidades .imagen_especialidad {
  width: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
}

.especialidades .card-especialidades .titulo_especialidades {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 2vw;
}

.especialidades .card-especialidades .texto_especialidades {
  color: white;
  margin: 1vw;
  text-align: justify;
}

.especialidades .card-especialidades .boton-especialidades {
  background-color: transparent;
  color: #580909;
  border: 1px solid #580909 !important;
  margin: 1vw 0%;
}

.especialidades .card-especialidades .boton-especialidades:hover {
  background-color: transparent;
  color: #580909;
  border: 1px solid #580909 !important;
  margin: 1vw 0%;
}

.especialidades .card-especialidades .boton-especialidades:focus {
  outline: none;
  box-shadow: none;
}

.imagen-header {
  width: 100%;
  height: auto;
}
