/* MENU */
.container {
  display: flex;
  justify-content: center !important;
  align-items: center;
  padding-left: 5vw !important;
  width: 100% !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
nav {
  display: flex;
  // flex-direction: column;
  z-index: 300 !important;
}
.menu-desktop {
  --animate-duration: 8s;
  height: 100px;
  color: $color !important;
}
.logo-nav {
  width: 6vw;
  margin-left: 3vw;
  visibility: hidden;
  position: absolute;
}
.contactanos-item {
  color: $color !important;
  font-size: 20px;
  border: 1px solid $color;
  border-radius: 5px;
  font-weight: 300;
}

.contactanos-item:hover {
  background-color: transparent;
  color: $color !important;
  border: 1px solid $color;
}
.nav-link {
  margin: auto 2.3rem;
  font-size: 1.2rem !important;
  color: #c0c0c0 !important;
  font-weight: 300 !important;
}
.nav-item {
  color: #c0c0c0 !important;
  font-weight: 300 !important;
}
.texto-menu {
  color: $color !important;
  font-size: 1.5rem;
  font-weight: 300;
}

.logo-navbar {
  width: 166px;
  height: 73px;
}
#nav {
  background-color: transparent;
}

#display {
  display: none;
}

@media (min-width: 320px) and (max-width: 991px) {
  #nav {
    display: none;
  }
  #display {
    display: none;
  }
  .menu-mobile {
    background-color: black;
  }
}
/* FIN MENU */

@media (min-width: 320px) and (max-width: 992px) {
  /* INICIO NAVBAR */
  .logo-menu-mobile {
    width: 15px;
  }
  .menu-mobile-contenedor {
    display: flex;
    justify-content: space-between !important;
    padding: 0% 5% !important;
    // max-height: 30vw !important;
  }
  .bg-menu {
    background-color: black !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .botonmenu {
    color: white !important;
    border-radius: 4px;
    height: 39px;
    font-size: 18px;
    /* padding: 10px; */
    border-color: black !important;
  }

  .botonmenu:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .lineasboton {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .nav-link-bg-color {
    background-color: black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-link-color-letra {
    color: $color !important;
    font-size: 16px;
    width: 115px;
    text-align: center;
    margin: 0px;
  }

  .nav-link-color-letra-contacto {
    color: white !important;
    font-size: 16px;
    width: 120px;
    text-align: center;
    border: 1px solid $color !important;
  }

  .nav-link-color-letra-contacto:hover {
    background-color: transparent;
    color: $color !important;
  }
  .navbar-collapse {
    background-color: black !important;
  }
  .navbar-nav {
    margin-top: 5vw;
    background-color: black;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-item-mobile {
    border: 1px solid $color !important;
    border-radius: 5px;
    font-weight: 300;
  }
  /*  FIN NAVBAR */
}
