// configuracion
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
// preset
$color: #c0c0c0;
$acento: #580909;
$titulos: #706d6dec;

// import
@import "navBar";
@import "header";
@import "presentacion";
@import "especialidades";
@import "blog";

// header
.imagen-header {
  width: 100%;
  height: auto;
}
